@import "tailwindcss";

/* BASE */
body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}

/* SELECTION COLOR */
::selection {
  background: #3b82f6;
  color: white;
}

/* GRID BACKGROUND */
.grid-bg {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.008) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.008) 1px, transparent 1px);
  background-size: 100px 100px;
}
